ul {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

li {
    justify-content: center;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.Voice_avatar__htiqH {
    width: 80%;
    height: auto;
    border-radius: 0%;
    filter: grayscale(1);
}

.Voice_user__8fGwX {
    justify-content: center!important;
}

.Voice_name__TALd9 {
    width: 80%!important;
    font-size: 2rem!important;
    display: block!important;
    text-align: center!important;
}

/* Trillian */
.Voice_avatarSpeaking__lE\+4m[src*="208138826143498241"]{
    border: 4px solid #F70000!important;
    filter: grayscale(0);
}

/* Océane */
.Voice_avatarSpeaking__lE\+4m[src*="506523389578706966"]{
    border: 6px solid #3E509D!important;
    filter: grayscale(0);
}

/* Lumi */
.Voice_avatarSpeaking__lE\+4m[src*="199207531984322570"]{
    border: 4px solid #DA477E!important;
    filter: grayscale(0);
}

/* Joël */
.Voice_avatarSpeaking__lE\+4m[src*="100659526763577344"]{
    border: 4px solid #198F0D!important;
    filter: grayscale(0);
}
